---
import "@/styles/global.scss";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import F4ALogo from "@/assets/favicon.svg";
import { WebsiteConfig } from "@/config";
import { getLangFromUrl, getUrlWithoutLang } from "@/i18n/utils";
import type { ui } from "@/i18n/ui";

const l = getLangFromUrl(Astro.url);
const page = getUrlWithoutLang(Astro.url);

type Props = {
    title?: string;
    description?: string;
};

const { title, description } = Astro.props as Props;

const config = WebsiteConfig(l);
const meta = config.metadata;
---

<!doctype html>
<html lang={l}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={meta.faviconSrc} />
        <meta name="generator" content={Astro.generator} />
        <title>{title ? `${title} | ${meta.title}` : meta.title}</title>
        <meta name="description" content={description || meta.description} />
    </head>
    <body>
        <Header
            logoSvg={F4ALogo.src}
            menu={config.navigation.menu()}
            rightMenu={config.navigation.rightMenu(page)}
        />
        <slot />
        <Footer />
    </body>
</html>
